<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Addit.AK.WBD.AK_Suche.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataService" />
        <binding name="BasicHttpBinding_IAuthService" />
        <binding name="BasicHttpBinding_IBankRecordCarrier" />
        <binding name="BasicHttpBinding_IDocumentGeneration" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58941/AuthService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAuthService" contract="AuthService.IAuthService"
        name="BasicHttpBinding_IAuthService" />
      <endpoint address="http://localhost:57808/DocumentGeneration.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDocumentGeneration"
        contract="DocumentGeneration.IDocumentGeneration" name="BasicHttpBinding_IDocumentGeneration" />
      <endpoint address="http://localhost:62939/DataService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDataService" contract="DataService.IDataService"
        name="BasicHttpBinding_IDataService" />
      <endpoint address="http://localhost:55244/BankRecordCarrier.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankRecordCarrier"
        contract="BankRecordCarrier.IBankRecordCarrier" name="BasicHttpBinding_IBankRecordCarrier" />
    </client>
  </system.serviceModel>
  <userSettings>
    <Addit.AK.WBD.AK_Suche.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </Addit.AK.WBD.AK_Suche.Properties.Settings>
  </userSettings>
  <appSettings>
    <!-- Step between Confirmation Printing in minutes -->
    <add key="StepBetweenConfirmationPrinting" value="10" />
    <!-- Default Start Time of Confirmation Printing - can be overwritten in print dialog -->
    <add key="StartTimeOfConfirmationPrinting" value="08:00" />
    <add key="AddDaysConfirmationPrinting" value="7" />
    <!--Templates - Genehmigung gesamt, Genehmigung KL ... -->
    <add key="TemplatesConfirmationPrinting" value="1:4:40" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>

